 <mat-card *ngIf="account" (click)="getAccount.emit(account)" appOnHover>
    <mat-card-header>
        <mat-card-title>{{account.type}}</mat-card-title>
        <mat-card-subtitle>
            <div>
                {{account.name}}
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{account.description}}</p>
        <div [style.backgroundColor]="account.state === 'Active' ? 'green': 'red'" class="state">{{account.state}}</div>
    </mat-card-content>
    <mat-card-actions *ngIf="hasAction">
<!--          <button mat-stroked-button color="accent" class="action-btn" (click)="openDialog()" mat-button  ((click)="accountMore($event)">MORE</button>  -->
    </mat-card-actions>
</mat-card>

