<form [formGroup]="form">
    <h3>Ismerős hozzáadása</h3>
    <mat-form-field class="max-width">
      <mat-label>Név</mat-label>
      <input matInput placeholder="Lajos" focus formControlName="contactName" required>
    </mat-form-field>
    <mat-form-field class="max-width">
      <mat-label>Város</mat-label>
      <textarea placeholder="Budapest" formControlName="city" matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <div style="display: flex; justify-content: flex-end;">
      <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
      <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">FELVÉTEL</button>
    </div>
  </form>
  